*{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

.container{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

}

body{
    display: flex;
    flex-direction:row;
    background-color: #f1f1f2;
    width: 100%;
    gap: 20px;

}

.right-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: large;
}

.cust-address{
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.19),  0px 4px 5px 0px rgba(0, 0, 0, 0.19);
}

#cus-address{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
}

.cust-address .name-add{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;

}

.cust-address h5{
    font-weight: 100;

}


/* #cus-address a {
    text-decoration: none;
} */

.de-details{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.19),  0px 4px 5px 0px rgba(0, 0, 0, 0.19);

}

#deliv-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#delivery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.DD{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#bus{
    padding: 10px;
}

#delivery h4 {
    font-weight: 400;
}

#delivery h5{
    font-weight: 100;
}
.delivery-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}

.delivery-date .save {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:5px;
}

#Discount{
    background-color:#f5891d9f;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    width: 40%;

}


.shiping{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    gap: 50px;
    
}

.ship-details{
    width: 100%;
}

#shipment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size:medium;
}

.ship{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#pro-order{
    display: flex;
    flex-direction: row;
    font-size: small;
    padding: 10px;
}

#pro-order div {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.shiping .ship {
    border-radius: 3px;
    border: 1px solid gray;
}

#modify-cart{
    display: flex;
    justify-content: center;
    font-size: medium;
    font-weight: 500;
    padding: 10px;
}

#modify-cart a {
    text-decoration: none;
    color: #f5891d;
    padding: 8px;
    border-radius: 5px;
   
}

#modify-cart a:hover{
    background-color:#f5891d56;
}

.payment{
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.19),  0px 4px 5px 0px rgba(0, 0, 0, 0.19);
}

#pay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
}

.payment .pay-method{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;

}

.pay-method h5{
    font-weight: 100;

}

.Summary{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    font-size: x-large;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.19),  0px 4px 5px 0px rgba(0, 0, 0, 0.19);

}

.Summary h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin: 5px;
}

.Summary h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}



.SUM{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;

}
.SUM input{
    height: 50px;
    text-indent: 50px;
    border:1px solid #f5891d;
    outline: none;
}

/* .SUM input:hover{

   
} */

.SUM #code{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    width: 20px;
}

.SUM p{
    color: gray;
    font-size:small;
    padding:15px;
}

.Summary .confirm{
    background-color:#f5891d;
    border: none;
    outline:none;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.19),  0px 4px 5px 0px rgba(0, 0, 0, 0.19);
    margin-top: 10px;
}

.confirm a {
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
   
}
